* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "MontSerrat MS", sans-serif;
}

header {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;

    background-color: var(--color-navbar);
    border-bottom: 2px solid var(--color-navbar-light);
}

header .brand-logo {
    width: 120px;
    text-align: center;
    padding: 17px 10px;
}

header .brand-logo a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.5rem;
}

.content-list-courses {
    background-color: var(--color-white);
}

.container-nowrap {
    flex-flow: column nowrap;
}

.content-cards-courses,
.content-list-courses {
    padding: 10px;
}

.content-cards-courses{
    width:100%;
    position:relative;
    display:block;

    background-color: var(--color-grey);
}

.content-cards-courses .list-title,
.content-cards-courses .list-subtitle,
.content-list-courses .list-title,
.content-list-courses .list-subtitle {
    padding-left: 10px;
}

.content-cards-courses .card-course{
    width:100%;
    position: relative;
    min-height: 420px;
}

.content-cards-courses .card-course {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-default);
    border: 1px solid var(--color-grey);
    border-radius: 5px;

    margin: 0 auto;
    margin-bottom: 30px;
}

.content-cards-courses .card-course .card-image {
    width: 100%;
}

.content-cards-courses .card-course .card-image img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    
    border-bottom: 3px solid var(--color-navbar);
}

.content-cards-courses .card-course .card-content {
    padding: 10px;
}

.content-cards-courses .card-course .card-content > label {
    font-size: 2rem;
    text-overflow: ellipsis;
    position:relative;
    font-weight: 600;
}

.content-cards-courses .card-course .card-content > h4 {
    padding-top: 5px;
    font-size: 1.5rem;
    font-weight: 400;
}

.content-cards-courses .card-course .card-content > ul {
    margin-top: 5px;
    list-style-type: none;

    border-bottom: 1px solid var(--color-grey);
}

.content-cards-courses .card-course .card-content > ul li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.content-cards-courses .card-course .card-content > p {
    margin-top: 5px;
}

.content-cards-courses .card-course .card-course-footer {
    width: 100%;
    padding: 5px;
    bottom: 0;
    position: absolute;
}

.content-cards-courses .card-course .card-course-footer a {
    width: 130px;
    background-color: var(--color-navbar);
    color: var(--color-white);
    display: block;
    padding: 10px 30px;
    border-top-width: 0px;
    border-bottom: 3px solid var(--color-navbar-dark);

    transition: .2s background-color;

    text-decoration: none;
    text-align: center;
    
    font-weight: 600;
    text-transform: uppercase;
}

.content-cards-courses .card-course .card-course-footer a:hover {
    background-color: var(--color-navbar-light);
}

.content-cards-courses h1,
.content-list-courses h1 {
    border-left: 3px solid var(--color-navbar);
}

ul.content-list-courses {
    width: 100%;
    float: left;
    display: block;
    position: relative;
    margin: 10px auto;
    list-style-type: none;
}

ul.content-list-courses > li.content-list-course-item {
    border-top: 1px solid var(--color-grey-dark);
    border-bottom: 1px solid var(--color-grey-dark);
    margin-top: -1px;

    width: 100%;
    display: block;
    float: left;
}

ul.content-list-courses > li.content-list-course-item .content-list-course-image,
ul.content-list-courses > li.content-list-course-item .content-list-course-description {
    float: left;
    display: block;
}

ul.content-list-courses > li.content-list-course-item .content-list-course-image {
    width: 90px;
    padding: 10px;
}

ul.content-list-courses > li.content-list-course-item .content-list-course-image img {
    width: 100%;
    position: relative;
    border-radius: 5px;
}

ul.content-list-courses > li.content-list-course-item .content-list-course-description {
    width: calc(100% - 120px);
    padding: 10px 5px;
}

ul.content-list-courses > li.content-list-course-item .content-list-course-description .course-item-title {
    margin-bottom: 0px;
}

ul.content-list-courses > li.content-list-course-item .content-list-course-description .course-item-title > a {
    font-size: 1.3rem;
    font-weight: 600;

    text-decoration: none;
    color: var(--color-navbar);
    transition: .2s color;
}

ul.content-list-courses > li.content-list-course-item .content-list-course-description .course-item-title > a:hover {
    color: var(--color-navbar-dark);
}

ul.content-list-courses > li.content-list-course-item .content-list-course-description .course-item-description {
    font-size: 1.35rem;
    margin-top: 5px;

    color: var(--color-grey-darkest);
}

ul.content-list-courses > li.content-list-course-item .content-list-course-description a {
    margin-top: 5px;
    font-size: 1.5rem;

    color: var(--color-grey-darkest);
}

footer {
    width: 100%;
    display: block;
    position: relative;
    float:left;
    text-align: center;
    line-height: 30px;

    margin-top: 20px;
    background-color: var(--color-navbar);
    color: var(--color-white);
    bottom: 0;
}

footer .footer-contact > label,
footer .footer-copyright > label {
    font-weight: bold;
}

footer .footer-copyright {
    width: 100%;
    display:block;
    font-size: 1.5rem;
    box-sizing: border-box;
}

footer .footer-contact {
    width: 100%;
    display:block;
    float:left;

    font-size: 1.5rem;
    box-sizing: border-box;
}

footer .footer-contact > a {
    text-decoration: none;
    color: var(--color-white);
}

footer .footer-contact.footer-email {
    background-color: var(--color-navbar-light);
}

footer .footer-contact.footer-telephone {
    background-color: var(--color-navbar-dark);
}

@media screen and (min-width: 780px) {
    .carousel .carousel-item {
        height: 400px;
    }
    
    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 400px;
    }

    .content-body-courses .card-course {
        width: 31%;
        float: left;
        margin: 0 1rem 30px;
    }

    ul.content-list-courses > li.content-list-course-item .content-list-course-description {
        width: calc(100% - 90px);
        padding: 10px 5px;
    }

    ul.content-list-courses > li.content-list-course-item .content-list-course-description .course-item-title > a {
        font-size: 1.7rem;
    }

    footer > div {
        float:left;
    }

    footer .footer-copyright {
        text-align: left;
        padding-left: 10px;
        width: 50%;
    }

    footer .footer-contact {
        width: 25%;
    }
}